.container[b-tcc67lwanf] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-top: 5%;
}

.diagram1[b-tcc67lwanf] {
    width: 30%;
    height: auto;
}

.diagram2[b-tcc67lwanf] {
    width: 50%;
    height: auto;
}

.label1[b-tcc67lwanf] {
    font-size: 30px;
    margin-top: 2rem;
    font-weight: bold;
}

.label2[b-tcc67lwanf] {
    font-size: 30px;
    margin-top: 2rem;
    font-weight: bold;
}

.fade-in[b-tcc67lwanf] {
    animation: fadeIn-b-tcc67lwanf 0.5s ease-in-out;
}

@keyframes fadeIn-b-tcc67lwanf {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}
