<div class="top-row ps-3 navbar navbar-dark">
    <div class="container">
        <img src="/Images/favicon.png" />
        <a class="navbar-brand" href=""><h3>Travel tracker</h3></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-direction">
        <div class="d-flex flex-grow-1 justify-content-center">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="map">
                            <span class="bi-geo-alt-nav-menu" aria-hidden="true"></span> Map
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="add">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="list">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="analytics">
                            <span class="custom-bar-chart " aria-hidden="true"></span> Analytics
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="ms-auto">
            <AuthorizeView>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/login">
                            <span aria-hidden="true"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                            </svg> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/logout">
                            <span aria-hidden="true"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                            </svg> Logout
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
        
    </nav>
</div>

