@page "/"

<PageTitle>Home</PageTitle>
<img src="/Images/home 2.jpg " class="backhome" />

<div class="container">
    <p class="banner"><b>VISUALIZE YOUR PATH</b></p>
    <h1 class="next-banner"><b>
        A travel tracker <br>
            for every unforgettable<br>
            moment
        </b>
    </h1>
    <img src="/Images/underline.png " class="underline">
    <p class="description">
        Leave your memories not only in your heart,<br> but also on the map of your incredible journeys.<br> Travel. Save. Be inspired.
    </p>
    <img src="/Images/phone1.jpg" class="photo" />
</div>